/* Write your CSS here */

.s-page-bg {
  min-height: 100vh;
  padding: 35px;
  background-color: black;
  font-family: 'Bree Serif';
  color: white;
}

.loader-style {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-image-sizer {
  width: 100%;
}

.latest-match-heading {
  color: white;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.RCB {
  background-image: linear-gradient(#4f5db0, #a4261d);
}

.KKR {
  background-image: linear-gradient(#a4261d, #5755a7);
}

.KXP {
  background-image: linear-gradient(#5755a7, #d91c1f);
}

.CSK {
  background-image: linear-gradient(#d91c1f, #f7db00);
}

.RR {
  background-image: linear-gradient(#f7db00, #ffffff);
}

.MH {
  background-image: linear-gradient(#da237b, #da237b);
}

.DC {
  background-image: linear-gradient(#13418b, #f26d22);
}

.back-button {
  padding: 10px 20px;
  margin-bottom: 15px;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease; /* Transition property here applies to all changes */
}

.back-button:hover {
  background-color: #45a049;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
